<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>DR Activation Viewer</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <header class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
          <a href="#" class="navbar-brand" href="#">DR Activation Dashboard</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#archive">Archive</a>
              </li>
            </ul>
          </div>
        </nav>      
    </div>
  </header>
  <div class="container" id="current-jobs">
    <div class="row">
      <div class="col">
        <br />
        <h3>Current DR Activation Progress</h3>
        <div id="current-jobs">
          <div id="current-job-info">
              <div class="col-12 alert alert-warning">
                The DR environment isn't being activated at the moment.<br /><br />

                Why not check out some <a href="/#archive">previous activations?</a>
              </div>            
          </div>
          <div id="current-job-status">

          </div>
          <div id="current-job-history">
              <table class="table table-sm">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Step Name</th>
                      <th scope="col">Completed</th>
                    </tr>
                  </thead>
                  <tbody id="currentjob-history-list">
      
                  </tbody>
                </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container" id="archived-jobs">
    <h3>DR Activation Jobs</h3>
    <div class="row">
      <div class="col-5" id="jobs">
        <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="job-list">

            </tbody>
          </table>
        </div>
        <div class="col-7" id="job-history">
            <table class="table table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Step Name</th>
                    <th scope="col">Completed</th>
                  </tr>
                </thead>
                <tbody id="job-history-list">
    
                </tbody>
              </table>
        </div>
    </div>
  </div>

  <script type="text/template" id="job-started-template">
    <div class="col-12 alert alert-primary">
      The current DR activation job <strong><%- JobName %></strong> started at <strong><%- Date %></strong>
    </div>
  </script>

  <script type="text/template" id="job-template">
    <td><%- Date %></td>
    <td><%- JobState %></td>
    <td> <a href="#archive" class="view-details">Details</a>
      <!-- <a href="#" class="mark-complete">Complete</a> -->
  </script>
  
  <script type="text/template" id="job-history-template">
    <td><%- Date %></td>
    <td><%- StepName %></td>
    <td><%- Completed %></a>
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/config.js"></script>
  <script src="js/viewController.js"></script>
  <script src="js/jobModel.js"></script>
  <script src="js/jobHistoryModel.js"></script>
  <script src="js/archivedJobViews.js"></script>
  <script src="js/currentJobViews.js"></script>

  <script>
    window.onload = function() {
      $('#current-job-history').hide();
  
      Backbone.View.prototype.close = function(){
        console.log('closing view');
        this.remove();
        if (this.onClose){
          this.onClose();
        }
      }
  
      var TransitionController = {
        handleChange: function(currentRoute) {
          switch (currentRoute) {
            case "currentJobs":
              $('#current-jobs').show();
              $('#archived-jobs').hide(); 

              break;
            case "archivedJobs":
              window.clearInterval();

              $('#current-jobs').hide();
              $('#archived-jobs').show();
              
              break;
          }
        }
      };


      var AppRouter = Backbone.Router.extend({
        routes: {
          "": "currentJobs",
          "archive": "archivedJobs"
        },

        currentJobs: function() {
          TransitionController.handleChange('currentJobs');

          var CurrentJobController = new CurrentJobViewController;
          //App.ViewController.showView($('#current-job'), new CurrentJobViewController);
        },

        archivedJobs: function() {
          TransitionController.handleChange('archivedJobs');

          var ArchivedJobController = new ArchivedJobViewController; 
          //App.ViewController.showView($('#job-listted'), new ArchivedJobViewController);
        }
      });
      
      var router = new AppRouter;

      Backbone.history.start({ pushState: false });
    };

    
  </script>

</body>
</html>